docs/discovery-call-blueprint.json
{
    "name": "Discovery Call Form -> Proposal Creation",
    "flow": [
        {
            "id": 57,
            "module": "typeform:WatchEventsWithResponses",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 1964091
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Discovery Call Form Entry"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Proposal form webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:typeform",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "form_id",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "event",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Event"
                    },
                    {
                        "name": "token",
                        "type": "text",
                        "label": "Token"
                    },
                    {
                        "name": "submitted_at",
                        "type": "date",
                        "label": "Submitted at"
                    },
                    {
                        "name": "landed_at",
                        "type": "date",
                        "label": "Landed at"
                    },
                    {
                        "name": "calculated",
                        "spec": [
                            {
                                "name": "score",
                                "type": "number",
                                "label": "Score"
                            }
                        ],
                        "type": "collection",
                        "label": "Calculated"
                    },
                    {
                        "name": "definition",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "fields",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "ref",
                                            "type": "text",
                                            "label": "Internal Name"
                                        },
                                        {
                                            "name": "allow_multiple_selections",
                                            "type": "boolean",
                                            "label": "Allow Multiple Selections"
                                        },
                                        {
                                            "name": "allow_other_choice",
                                            "type": "boolean",
                                            "label": "Allow Other Choice"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "collection",
                        "label": "Definition"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "field",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "ref",
                                        "type": "text",
                                        "label": "Internal Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Field"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "boolean",
                                "type": "boolean",
                                "label": "Boolean"
                            },
                            {
                                "name": "number",
                                "type": "number",
                                "label": "Number"
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "long_text",
                                "type": "text",
                                "label": "Long Text"
                            },
                            {
                                "name": "short_text",
                                "type": "text",
                                "label": "Short Text"
                            },
                            {
                                "name": "file_url",
                                "type": "url",
                                "label": "File URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "phone_number",
                                "type": "text",
                                "label": "Phone Number"
                            },
                            {
                                "name": "choice",
                                "spec": [
                                    {
                                        "name": "label",
                                        "type": "text",
                                        "label": "Label"
                                    },
                                    {
                                        "name": "other",
                                        "type": "text",
                                        "label": "Other"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choice"
                            },
                            {
                                "name": "choices",
                                "spec": [
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choices"
                            }
                        ],
                        "type": "array",
                        "label": "Answers"
                    },
                    {
                        "name": "mappable_answers",
                        "spec": [
                            {
                                "name": "2d57c5cb-900b-4e1a-ad7d-04f7de399671",
                                "type": "text",
                                "label": "Who's the client? (group)"
                            },
                            {
                                "name": "5fa2a49b-0461-4197-b164-84ce4a1ec5a7",
                                "type": "text",
                                "label": "What was the outcome of the call?"
                            },
                            {
                                "name": "fc88b93a-805c-4022-a7cd-4352ac2f0fcb",
                                "type": "text",
                                "label": "Paste in a one-sentence description of their business."
                            },
                            {
                                "name": "a8bd0069-e374-41ce-8d76-1c1e146249e7",
                                "type": "text",
                                "label": "*What's their problem?*"
                            },
                            {
                                "name": "f44d0270-bee2-4385-9725-6fc12dbca9a8",
                                "type": "text",
                                "label": "*What's your solution?*"
                            },
                            {
                                "name": "0971fe6b-8b29-4011-8dd3-58f8248f029f",
                                "type": "text",
                                "label": "What are the platforms/services you'll use during development?"
                            },
                            {
                                "name": "3361b658-d606-4c71-ad88-875fef6332ff",
                                "type": "text",
                                "label": "How long will the project take?"
                            },
                            {
                                "name": "2aedac4c-d796-449d-afef-a102ddcb477f",
                                "type": "text",
                                "label": "How much do you want to charge them?"
                            },
                            {
                                "name": "a3f8484d-05cf-4248-84b4-4181e3f84ca1",
                                "type": "text",
                                "label": "First name / Parent Group: Who's the client?"
                            },
                            {
                                "name": "6c62d947-4032-4e62-8a69-75e2e6c02cc9",
                                "type": "text",
                                "label": "Last name / Parent Group: Who's the client?"
                            },
                            {
                                "name": "174c543e-a441-4840-babb-2f28fc1c4fcf",
                                "type": "email",
                                "label": "Email / Parent Group: Who's the client?"
                            },
                            {
                                "name": "0b599ba4-6fa2-4854-994c-471e00362524",
                                "type": "text",
                                "label": "Company / Parent Group: Who's the client?"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable Answers"
                    },
                    {
                        "name": "hidden",
                        "spec": [],
                        "type": "collection",
                        "label": "Hidden"
                    }
                ]
            }
        },
        {
            "id": 58,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "2"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 59,
            "module": "typeform:ListResponses",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7463518
            },
            "mapper": {
                "limit": "1",
                "formId": "KDa3WPFu",
                "completed": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "fields": {
                            "mode": "chose"
                        },
                        "formId": {
                            "mode": "chose",
                            "label": "Proposal Form"
                        },
                        "completed": {
                            "mode": "chose"
                        },
                        "excluded_response_ids": {
                            "mode": "chose"
                        },
                        "included_response_ids": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "typeform2"
                            },
                            "label": "dima@onekeyflow.com (Feb 17 2026)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:typeform2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "formId",
                        "type": "select",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "completed",
                        "type": "boolean",
                        "label": "Completed"
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "since",
                        "type": "date",
                        "label": "Since"
                    },
                    {
                        "name": "until",
                        "type": "date",
                        "label": "Until"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "fields",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Fields"
                    },
                    {
                        "name": "included_response_ids",
                        "type": "select",
                        "label": "Included Response IDs",
                        "multiple": true
                    },
                    {
                        "name": "excluded_response_ids",
                        "type": "select",
                        "label": "Excluded Response IDs",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "landing_id",
                        "type": "text",
                        "label": "Landing ID"
                    },
                    {
                        "name": "token",
                        "type": "text",
                        "label": "Token"
                    },
                    {
                        "name": "response_id",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "landed_at",
                        "type": "date",
                        "label": "Landed at"
                    },
                    {
                        "name": "submitted_at",
                        "type": "date",
                        "label": "Submitted at"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_agent",
                                "type": "text",
                                "label": "User Agent"
                            },
                            {
                                "name": "platform",
                                "type": "text",
                                "label": "Platform"
                            },
                            {
                                "name": "referer",
                                "type": "url",
                                "label": "Referer"
                            },
                            {
                                "name": "network_id",
                                "type": "text",
                                "label": "Network ID"
                            },
                            {
                                "name": "browser",
                                "type": "text",
                                "label": "Browser"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "field",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "ref",
                                        "type": "text",
                                        "label": "Readable Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Field"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "boolean",
                                "type": "boolean",
                                "label": "Boolean"
                            },
                            {
                                "name": "number",
                                "type": "number",
                                "label": "Number"
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "long_text",
                                "type": "text",
                                "label": "Long Text"
                            },
                            {
                                "name": "short_text",
                                "type": "text",
                                "label": "Short Text"
                            },
                            {
                                "name": "file_url",
                                "type": "url",
                                "label": "File URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "phone_number",
                                "type": "text",
                                "label": "Phone Number"
                            },
                            {
                                "name": "choice",
                                "spec": [
                                    {
                                        "name": "label",
                                        "type": "text",
                                        "label": "Label"
                                    },
                                    {
                                        "name": "other",
                                        "type": "text",
                                        "label": "Other"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choice"
                            },
                            {
                                "name": "choices",
                                "spec": [
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choices"
                            }
                        ],
                        "type": "array",
                        "label": "Answers"
                    },
                    {
                        "name": "mappable_answers",
                        "spec": [
                            {
                                "name": "2d57c5cb-900b-4e1a-ad7d-04f7de399671",
                                "type": "text",
                                "label": "Who's the client? (group)"
                            },
                            {
                                "name": "5fa2a49b-0461-4197-b164-84ce4a1ec5a7",
                                "type": "text",
                                "label": "What was the outcome of the call?"
                            },
                            {
                                "name": "fc88b93a-805c-4022-a7cd-4352ac2f0fcb",
                                "type": "text",
                                "label": "Paste in a one-sentence description of their business."
                            },
                            {
                                "name": "a8bd0069-e374-41ce-8d76-1c1e146249e7",
                                "type": "text",
                                "label": "*What's their problem?*"
                            },
                            {
                                "name": "f44d0270-bee2-4385-9725-6fc12dbca9a8",
                                "type": "text",
                                "label": "*What's your solution?*"
                            },
                            {
                                "name": "0971fe6b-8b29-4011-8dd3-58f8248f029f",
                                "type": "text",
                                "label": "What are the platforms/services you'll use during development?"
                            },
                            {
                                "name": "3361b658-d606-4c71-ad88-875fef6332ff",
                                "type": "text",
                                "label": "How long will the project take?"
                            },
                            {
                                "name": "2aedac4c-d796-449d-afef-a102ddcb477f",
                                "type": "text",
                                "label": "How much do you want to charge them?"
                            },
                            {
                                "name": "a3f8484d-05cf-4248-84b4-4181e3f84ca1",
                                "type": "text",
                                "label": "First name / Parent Group: Who's the client?"
                            },
                            {
                                "name": "6c62d947-4032-4e62-8a69-75e2e6c02cc9",
                                "type": "text",
                                "label": "Last name / Parent Group: Who's the client?"
                            },
                            {
                                "name": "174c543e-a441-4840-babb-2f28fc1c4fcf",
                                "type": "email",
                                "label": "Email / Parent Group: Who's the client?"
                            },
                            {
                                "name": "0b599ba4-6fa2-4854-994c-471e00362524",
                                "type": "text",
                                "label": "Company / Parent Group: Who's the client?"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable Answers"
                    },
                    {
                        "name": "hidden",
                        "spec": [],
                        "type": "collection",
                        "label": "Hidden"
                    },
                    {
                        "name": "calculated",
                        "spec": [
                            {
                                "name": "score",
                                "type": "number",
                                "label": "Score"
                            }
                        ],
                        "type": "collection",
                        "label": "Calculated"
                    }
                ]
            }
        },
        {
            "id": 63,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7448733
            },
            "filter": {
                "name": "Send Proposal?",
                "conditions": [
                    [
                        {
                            "a": "{{59.mappable_answers.`5fa2a49b-0461-4197-b164-84ce4a1ec5a7`}}",
                            "b": "Sending proposal",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "gpt-5.4-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're a helpful, intelligent sales assistant."
                    },
                    {
                        "role": "user",
                        "content": "We're an operations agency that builds outreach systems, CRM systems, project management systems, no-code systems, and integrations.\n\nBelow is a loose scope. Turn that scope into a high-quality proposal in JSON. \n\nOur clients are enterprise, so write in a spartan, no-frills tone that implies intelligence. \n\nDon't write long paragraphs. If giving a numbered list, keep the descriptions short but precise."
                    },
                    {
                        "role": "user",
                        "content": "{\"businessDescription\":\"Flatiron Search Partners is an executive recruiting firm that specializes in high end technology clients.\", \"problem\":\"Right now they're managing all of their leads & projects in a massive Google Sheet. The key issues: their system is disorganized, incapable of scaling, and provides little in the way of accountability. Team members are manually updating fields, copying and pasting data, and there is no single source of truth.\",\"solution\": \"Migration to a dedicated CRM & project management solution like Monday.com, and a bespoke setup that includes a CRM board to handle new leads, alongside a PM board to handle new and ongoing projects. The creation of new records, and various administrative tasks alongside them, will be handled using both built in Monday automations and third party tools. I'll also create a process library of SOPs to improve operations more generally.\", \"tools\":\"Monday.com: CRM/PM platform. Make.com: third party automation tool. Typeform: data entry with good user experience.\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"problemPitch\":\"1. You're using systems that don't scale\\n\\nCurrently, your team spends a ridiculous amount of time manually updating fields in a Google Sheet. This is resource-intensive, inefficient, and tedious—it's easy for a small mistake to cascade into a large one, and this has happened multiple times. Perhaps more importantly, there's no accountability, so when said problems inevitably arise, it's impossible to trace it back to its root and solve it.\\n\\n2. You're doing (and paying) too much\\n\\nGoogle Sheets is free. But the impact on your business has been costly. Given the archaic nature of your current setup, specific daily tasks are difficult to operationalize—leading to a large chunk of your employee/contractor costs going to admin tasks that are easily automatable.\\n\\n3. You're missing a ton of functionality\\n\\nGoogle Sheets is primarily textual, and misses the rich functionality afforded by more intentional CRMs. For instance, you can't assign owners to records, or automatically notify team members when something needs to happen (instead, everyone has to be online all the time \"just in case\"), or take advantage of more effective views to represent data flow.\",\"solutionPitch\":\"1. First, I'll migrate & build you a scalable system:\\n\\nI'll help you migrate to Monday.com, a dedicated CRM and project management platform. This will address many of the scalability issues inherent to Google Sheets—your team will be able to assign owners to records, receive notifications on important tasks, and communicate with eachother in a public, accountable way. \\n\\nIn addition, I'll build bespoke automations (both in Monday and using a third party tool, Make.com) to eliminate the need for manual record creation and related administrative functions. This will improve cycle time, better the quality of life of your staff, and decrease the likelihood of a costly error.\\n\\n2. Then, I'll help you improve cost efficiency:\\n\\nNext, we'll operationalize your procedures, add them to a library of SOPs, and begin scoping automated solutions to improve the effectiveness of each task. Much of the knowledge in your company currently exists in conversation or hidden direct messages and threads—turning this into a central, accessible knowledge base will streamline new hire onboarding, significantly improve margins on tasks, and make your team much more flexible.\",\"title\":\"Streamlining Flatiron Search Partners & Migrating to Monday\",\"platformList\":\"Monday.com, Make.com, Typeform\",\"problemTitle\":\"Your current setup is costing you more than you think\",\"solutionTitle\":\"A cleaner system, less admin, and a team that can actually scale\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"businessDescription\":\"Memphis Home Buyers is a residential real estate company that buys (and then flips) homes with recorded payment troubles in the Memphis area.\", \"problem\":\"They have a list of over 50K contacts with homes they could be pitching to but they're not reaching out at all. A simple email campaign would suffice, but all they're doing is calling, and although calling yields higher conversion rates than emails, it's also much more time and resource-intensive. They're generating a small fraction of the revenue they could have been if they ran an omnichannel campaign and used email to qualify. Very underoptimized.\",\"solution\": \"Using a dedicated cold email tool like Instantly to manage a thousand or more outbound emails per day, along with a standardized set of operating procedures for a salesperson to qualify over email. If the lead is qualified, they'll be passed over to their closing team, which will give the lead a call and make a purchase offer within 24hrs. This will multiply their earnings.\", \"tools\":\"Instantly.ai: cold email tool. Make.com: third party automation tool.\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"problemPitch\":\"1. Your current outreach system doesn't scale\\n\\nRight now, your team is manually cold-calling each lead in your database. This is time-intensive (it takes perhaps ten to twenty seconds, minimum, to reach out to each lead) and costly (because you're paying your salespeople per hour to drive you results). While it does work occasionally, this is not a scalable system. A better one would involve omnichannel communication, automatic qualification, and much faster outreach.\",\"solutionPitch\":\"1. First, I'll migrate you to Instantly.ai, a high-volume cold email tool\\n\\nI'll migrate all of your contacts to Instantly.ai, the best performing cold email tool on the market. We'll use a cold email campaign to qualify each lead, and make an offer so good that most of your prospects can't help but respond to (i.e we're willing to send them an all-cash offer within 24hrs).\\n\\n2. Then, I'll build you a set of standard operating sales procedures\\n\\nBy tiering your outreach system into two steps—email first, and then a call—we'll significantly improve efficiency and total revenue. As you scale, you'll need a centralized set of documents and operating procedures to let you hire new email staff (setters) and phone operators (closers)—so I'll build one for you. This will let anybody in your team swap roles as needed, and drastically reduce onboarding time, which will be sufficient infrastructure to scale past 7-figures into 10M/yr and beyond.\",\"title\":\"Scalable Omnichannel Sales System for Memphis Home Buyers\",\"platformList\":\"Instantly.ai, Make.com\",\"problemTitle\":\"You're paying people to do what software should be doing\",\"solutionTitle\":\"Email-first outreach, tiered sales process, built to scale\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"businessDescription\":\"\n{{59.mappable_answers.`fc88b93a-805c-4022-a7cd-4352ac2f0fcb`}}\", \"problem\":\"\n{{59.mappable_answers.`a8bd0069-e374-41ce-8d76-1c1e146249e7`}}\", \"solution\":\"{{59.mappable_answers.`f44d0270-bee2-4385-9725-6fc12dbca9a8`}}\", \"tools\":\"{{59.mappable_answers.`0971fe6b-8b29-4011-8dd3-58f8248f029f`}}\"}"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Generate Proposal"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5.4-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "dmytrodim@gmail.com (Feb 16 2026)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 88,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{63.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 72,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7448733
            },
            "mapper": {
                "model": "gpt-5.4",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're a helpful, intelligent writing assistant."
                    },
                    {
                        "role": "user",
                        "content": "Write 4 sophisticated-sounding milestones & associated timelines for a project proposal. Use the provided solution statement and rough timetable and the following JSON format.\n\n{\"milestone-1\":\"milestone 1 description\",\n\"timeline-1\" : \"timeline 1 description\",\n\"milestone-2\":\"milestone 2 description\",\n\"timeline-2\" : \"timeline 2 description\",\n\"milestone-3\":\"milestone 3 description\",\n\"timeline-3\" : \"timeline 3 description\",\n\"milestone-4\":\"milestone 4 description\",\n\"timeline-4\" : \"timeline 4 description\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"solution\": \"A streamlined, Airtable-based system that lets your team leverage their human capital where it matters most: steering the ship. Your team will add industry search terms (i.e C++ developer) using a simple form, and it'll trigger an outreach workflow.\\n\\nThe workflow will automatically scrape LinkedIn for jobs that have been posted for that position or for people with that role, funnel that data into an enrichment & deliverability pipeline (DropContact, Neverbounce, etc), and begin a coordinated email outreach sequence to push interested candidates to Calendly. \\n\\nReply categorization will be done automatically by AI (GPT-4), and your team will only be alerted when a positive outcome is reached (i.e meeting booked), or if a situation arises that the system doesn't yet know how to deal with - in which case the situation would be added to the categorization system so it handles it effectively in the future.\", \"roughTimetable\":\"3 weeks\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"milestone-1\":\"MVP & Outreach Process Flow\",\n\"timeline-1\" : \"7-10 days\",\n\"milestone-2\":\"Platform Set Up (Airtable, Outreach, GPT-4)\",\n\"timeline-2\" : \"5 days\",\n\"milestone-3\":\"Testing & Iteration\",\n\"timeline-3\" : \"3 days\",\n\"milestone-4\":\"Process Documentation\",\n\"timeline-4\" : \"1 day\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"solution\":\"{{59.mappable_answers.`f44d0270-bee2-4385-9725-6fc12dbca9a8`}}\", \"roughTimetable\":\"\"}"
                    }
                ],
                "max_tokens": "2800",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Generate Milestones/Timelines"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5.4 (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "dmytrodim@gmail.com (Feb 16 2026)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 73,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{72.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 90,
            "module": "pandadoc:createADocuments",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7458545
            },
            "mapper": {
                "name": "{{88.title}}",
                "send": false,
                "fields": {},
                "tokens": {
                    "Client.Email": "{{59.mappable_answers.`174c543e-a441-4840-babb-2f28fc1c4fcf`}}",
                    "Client.Title": "{{88.title}}",
                    "Sender.Email": "dima@onekeyflow.com",
                    "Client.Company": "{{59.mappable_answers.`0b599ba4-6fa2-4854-994c-471e00362524`}}",
                    "Sender.Company": "OneKeyFlow",
                    "Client.LastName": "{{59.mappable_answers.`6c62d947-4032-4e62-8a69-75e2e6c02cc9`}}",
                    "Sender.LastName": "Petryshchuk",
                    "Client.FirstName": "{{59.mappable_answers.`a3f8484d-05cf-4248-84b4-4181e3f84ca1`}}",
                    "Sender.FirstName": "Dima",
                    "Client.timeline-1": "{{73.`timeline-1`}}",
                    "Client.timeline-2": "{{73.`timeline-2`}}",
                    "Client.timeline-3": "{{73.`timeline-3`}}",
                    "Client.timeline-4": "{{73.`timeline-4`}}",
                    "Client.milestone-1": "{{73.`milestone-1`}}",
                    "Client.milestone-2": "{{73.`milestone-2`}}",
                    "Client.milestone-3": "{{73.`milestone-3`}}",
                    "Client.milestone-4": "{{73.`milestone-4`}}",
                    "Client.ProblemPitch": "{{88.problemPitch}}",
                    "Client.ProblemTitle": "{{88.problemTitle}}",
                    "Client.SolutionPitch": "{{88.solutionPitch}}",
                    "Client.SolutionTitle": "{{88.solutionTitle}}"
                },
                "template": "RrDD8yBMNu6hSCzqxUQ5i3",
                "folder_uuid": "/vfHANiBferJbQZKdke9MbF",
                "pricing_tables": [
                    {
                        "name": "Pricing Table 1",
                        "options": {
                            "currency": "USD"
                        },
                        "sections": [
                            {
                                "rows": [
                                    {
                                        "data": {
                                            "qty": "1",
                                            "name": "{{88.title}} (total)",
                                            "price": "{{57.mappable_answers.`2aedac4c-d796-449d-afef-a102ddcb477f`}}"
                                        },
                                        "options": {
                                            "optional": false,
                                            "qty_editable": false,
                                            "optional_selected": false
                                        }
                                    }
                                ],
                                "title": "Hidden",
                                "default": true
                            }
                        ]
                    },
                    {
                        "name": "Pricing Table 1",
                        "options": {
                            "currency": "USD"
                        },
                        "sections": [
                            {
                                "rows": [
                                    {
                                        "data": {
                                            "qty": "1",
                                            "name": "{{88.title}}",
                                            "price": "{{59.mappable_answers.`2aedac4c-d796-449d-afef-a102ddcb477f`}}"
                                        },
                                        "options": {
                                            "optional": false,
                                            "qty_editable": false,
                                            "optional_selected": false
                                        }
                                    }
                                ],
                                "title": "Hidden",
                                "default": true
                            }
                        ]
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Send Proposal"
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "images": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "template": {
                            "mode": "chose",
                            "label": "Upwork Proposal Template"
                        },
                        "recipients": {
                            "mode": "chose"
                        },
                        "folder_uuid": {
                            "mode": "chose"
                        },
                        "pricing_tables": {
                            "mode": "chose",
                            "items": [
                                {
                                    "name": {
                                        "mode": "chose",
                                        "label": "Pricing Table 1"
                                    },
                                    "sections": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "rows": {
                                                    "mode": "chose",
                                                    "items": [
                                                        {
                                                            "options": {
                                                                "nested": {
                                                                    "optional": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "qty_editable": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "optional_selected": {
                                                                        "mode": "chose"
                                                                    }
                                                                }
                                                            },
                                                            "custom_fields": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    ]
                                                },
                                                "default": {
                                                    "mode": "chose"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": {
                                        "mode": "chose",
                                        "label": "Pricing Table 1"
                                    },
                                    "sections": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "rows": {
                                                    "mode": "chose",
                                                    "items": [
                                                        {
                                                            "options": {
                                                                "nested": {
                                                                    "optional": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "qty_editable": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "optional_selected": {
                                                                        "mode": "chose"
                                                                    }
                                                                }
                                                            },
                                                            "custom_fields": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    ]
                                                },
                                                "default": {
                                                    "mode": "chose"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "content_placeholders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "dima@onekeyflow.com (dima@onekeyflow.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Document Name",
                        "required": true
                    },
                    {
                        "name": "template",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "send",
                        "type": "boolean",
                        "label": "Send a document",
                        "required": true
                    },
                    {
                        "name": "folder_uuid",
                        "type": "folder",
                        "label": "Folder"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Tag"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "images",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Image Block Name",
                                "required": true
                            },
                            {
                                "name": "urls",
                                "type": "url",
                                "label": "Image URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Images"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Document Metadata"
                    },
                    {
                        "name": "content_placeholders",
                        "spec": [
                            {
                                "name": "block_id",
                                "type": "select",
                                "label": "Block ID",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "content_library_items",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Content Library Item ID",
                                        "dynamic": true,
                                        "options": {
                                            "store": []
                                        },
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Content Library Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Content Placeholders"
                    },
                    {
                        "name": "tokens",
                        "spec": [
                            {
                                "name": "Client.Email",
                                "type": "email",
                                "label": "Role: Client Email",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Sender.Email",
                                "type": "email",
                                "label": "Role: Sender Email",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "Client.Company",
                                "type": "text",
                                "label": "Role: Client  Company ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.FirstName",
                                "type": "text",
                                "label": "Role: Client  First Name ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.LastName",
                                "type": "text",
                                "label": "Role: Client  Last Name ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.ProblemPitch",
                                "type": "text",
                                "label": "Role: Client  Problem Pitch ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.ProblemTitle",
                                "type": "text",
                                "label": "Role: Client  Problem Title ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.SolutionPitch",
                                "type": "text",
                                "label": "Role: Client  Solution Pitch ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.SolutionTitle",
                                "type": "text",
                                "label": "Role: Client  Solution Title ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.Title",
                                "type": "text",
                                "label": "Role: Client  Title ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.milestone-1",
                                "type": "text",
                                "label": "Role: Client  milestone-1 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.milestone-2",
                                "type": "text",
                                "label": "Role: Client  milestone-2 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.milestone-3",
                                "type": "text",
                                "label": "Role: Client  milestone-3 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.milestone-4",
                                "type": "text",
                                "label": "Role: Client  milestone-4 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.timeline-1",
                                "type": "text",
                                "label": "Role: Client  timeline-1 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.timeline-2",
                                "type": "text",
                                "label": "Role: Client  timeline-2 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.timeline-3",
                                "type": "text",
                                "label": "Role: Client  timeline-3 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.timeline-4",
                                "type": "text",
                                "label": "Role: Client  timeline-4 ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Sender.Company",
                                "type": "text",
                                "label": "Role: Sender  Company ",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "Sender.FirstName",
                                "type": "text",
                                "label": "Role: Sender  First Name ",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "Sender.LastName",
                                "type": "text",
                                "label": "Role: Sender  Last Name ",
                                "metadata": {
                                    "role": "Sender"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Tokens"
                    },
                    {
                        "name": "fields",
                        "spec": [],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "recipients",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            },
                            {
                                "name": "first_name",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "last_name",
                                "type": "text",
                                "label": "Last name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "pricing_tables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "select",
                                "label": "Table Name",
                                "options": [
                                    {
                                        "label": "Pricing Table 1",
                                        "value": "Pricing Table 1"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "options",
                                "spec": [
                                    {
                                        "name": "currency",
                                        "type": "text",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "discount",
                                        "type": "number",
                                        "label": "Global Discount Percentage",
                                        "validate": {
                                            "max": 100,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "tax_first",
                                        "type": "number",
                                        "label": "Global Tax Percentage",
                                        "validate": {
                                            "max": 100,
                                            "min": 0
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Options"
                            },
                            {
                                "name": "sections",
                                "spec": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Section Name"
                                    },
                                    {
                                        "name": "default",
                                        "type": "boolean",
                                        "label": "Default",
                                        "required": true
                                    },
                                    {
                                        "name": "rows",
                                        "spec": [
                                            {
                                                "name": "options",
                                                "spec": [
                                                    {
                                                        "name": "optional",
                                                        "type": "boolean",
                                                        "label": "Optional",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "optional_selected",
                                                        "type": "boolean",
                                                        "label": "Optional selected",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "qty_editable",
                                                        "type": "boolean",
                                                        "label": "Quantity editable",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Options"
                                            },
                                            {
                                                "name": "data",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "price",
                                                        "type": "number",
                                                        "label": "Price",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "qty",
                                                        "type": "number",
                                                        "label": "Quantity",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "tax",
                                                        "type": "number",
                                                        "label": "Tax Percentage",
                                                        "validate": {
                                                            "max": 100,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "discount",
                                                        "type": "number",
                                                        "label": "Discount Percentage",
                                                        "validate": {
                                                            "max": 100,
                                                            "min": 0
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Data"
                                            },
                                            {
                                                "name": "custom_fields",
                                                "spec": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Custom Fields"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Section Rows",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Sections",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Products"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}